body {
  background-color: #000000;
  font-family: Arial;
  color: #ffffff;
  text-align: center;
}
#contents {
  max-width: 500px;
  margin: auto;
  display: inline-block;
}
.timer {
  font-size: 3em;
}
.beready {
  font-size: 3em;
}
.audio {
	display: none;
}
